// Header

@include media-width($xl, 'max') {
	.container {
		max-width: $xl;
	}
}
@include media-width($lg, 'max') {
	.container {
		max-width: $lg;
	}
}
@include media-width($md, 'max') {
	.container {
		max-width: $md;
	}
}
@include media-width($sm, 'max') {
	.container {
		max-width: $sm;
	}
}
@include media-width($xs, 'max') {
	.container {
		max-width: $xs;
	}
}

@include media-width($md, 'max') {
	#nav-icon1 {
		display: block;
	}

	header .menu {
		flex-direction: column;
		gap: 20px;
		align-items: stretch;
		padding: 50px 0 0 0;

		.left {
			flex-direction: column;
			gap: 20px;
			align-items: stretch;

			nav {
				flex-direction: column;
				opacity: 0;
				height: 0;
				transform: translateY(-100%);
				transition: .8s ease-in-out;

				a {
					display: none;
				}

				&.active {
					opacity: 1;
					height: 100%;
					transform: translateY(0%);

					a {
						display: block;
					}
				}
			}
		}
		.right {
			flex-direction: column;
			gap: 20px;
			opacity: 0;
			height: 0;
			transform: translateY(-100%);
			transition: .8s ease-in-out;

			select, 
			button {
				display: none;
			}

			&.active {
				opacity: 1;
				height: 100%;
				transform: translateY(0%);

				select,
				button {
					display: flex;
				}
			}
		}
	 }
}

// Pyments

@include media-width($sm, 'max') {
	.balance__system-card {
		//display: flex;
		//max-width: 232px;
		//flex-direction: column;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		margin: 0 auto;

		.sytem-card  {
			min-width: 232px;
			//margin: 0 auto;
		}
	}

	.balance__header {
		text-align: center;
		padding-bottom: 20px;
		font-size: 26px;
		line-height: 1;
	}

	.balance__sytem-country {
		flex-direction: column;
		gap: 20px;
		padding: 23px 25px 23px 25px!important;

		.sytem-country-title { 

		}
	}

	.add__select {
		flex-direction: column;
		max-height: 100%;
		text-align: center;
		margin: 0;
		padding: 17px 37px 17px 37px;

		.add__body {
			margin: 0;
			gap: 20px;
		}
	}

	.add__promo {
		flex-direction: column;
		//margin: 0 auto;
		max-height: 100%;
		padding: 46px 37px 47px 37px;
		gap: 20px;

		button.promo__button {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.add__summ {
		padding: 20px 37px 41px 37px;

		.add__minmax {
			flex-direction: column;
			gap: 10px;
		}

		.add__input {
			padding: 0;
		}
	}

	.add__summ * {
		font-size: 14px!important;
	}
}

@include media-width($md, 'max') {
	.balance__body {
		flex-direction: column;
		gap: 20px;

		.balance__system, .balance__add {
			width: 100%;
			border: none;
			padding: 0;
			margin: 0;
			
		}

		.balance__system-card, .balance__sytem-country {
			margin-right: 0;
			padding-right: 0;
		}
	}
}

@include media-width('520px', 'max') {
	.balance__system-card {
		grid-template-columns: 1fr;
		//max-width: 232px;
	}
}

// profile

@include media-width ($lg, max) {
	.profile {
		&__user {
			padding: 10px;
			//flex-direction: column;
			align-items: center;
		}

		&__title {
			&-separator {
				opacity: 0;
				max-width: 20px;
			}
		
			// h1.title a {
			// 	font-size: 32px;
			// }
		}
		
		&__info {
			flex-direction: column;
			width: 100%;
		}

		&__skins {
			.content {
				grid-template-columns: repeat(4, 1fr);
				align-items: center;

				.item {
					margin: 0 auto;
				}
			}
		}
	}
	
}

@include media-width($md, max) {

	.profile {
		width: 100%;

		&__title {
			flex-direction: column;
			width: 100%;

			&-separator {
				opacity: 1;
				max-width: 100%;
			}
	
			h1.title a,
			h1.title {
				font-size: 32px;
			}
		}

		&__info {
			flex-direction: column;
			width: 100%;
		}

		&__skins {
			.content {
				grid-template-columns: repeat(2, 1fr);
				align-items: center;

				.item {
					margin: 0 auto;
				}
			}
		}
	}
}

@include media-width($sm, max) {

	.profile {
		width: 100%;

		&__title {
			flex-direction: column;

			&-separator {
				display: block;
			}

			h1.title a,
			h1.title {
				font-size: 32px;
			}
		}

		&__info-border {
			margin-right: 0 !important;
		}

		&__user {
			padding: 10px;
			flex-direction: column;
			align-items: center;
		}

		&__info {
			flex-direction: column;
			width: 100%;
		}

		&__links {
			flex-direction: column;
			width: 100%;
		}

		&__skins {
			.content {
				grid-template-columns: repeat(1, 1fr);
				align-items: center;

				.item {
					margin: 0 auto;
				}
			}
		}
	}

	.user {
		&__image {
			//max-width: 50%;
			margin: 0;
		}
	}

	.links {
		&__header {
			flex-direction: column;
			width: 100%;
			padding: 40px 0;
			gap: 20px;
			align-items: center;
		}

		&__item {
			flex-direction: column;
			width: 100%;
			text-align: center;
			gap: 10px;
		}

		&__form {
			flex-direction: column;
			width: 100%;
			gap: 20px;
		}
	}
}

@include media-width($xs, max) {
	.profile {
		&__title {
		
			h1.title a, h1.title {
				font-size: 24px;
			}
		}
	}
}

// referals
@include media-width ($md, max) {
	.referals {
		&__steps {
			//flex-direction: column;
			flex-wrap: wrap;
			gap: 20px;
			align-items: center;
			justify-content: center;
		}

		&__levels {
			flex-direction: column;
			align-items: center;
			gap: 10px;
		}
	}
}
@include media-width ($sm, max) {
	.links__button-silver {
		margin-left: 0;
	}

	.promo__users h2 {
		font-size: 22px;
	}
}
@include media-width ($xs, max) {
	.links__button-silver {
		margin-left: 0;
	}

	.promo__users h2 {
		font-size: 14px;
	}
}

// main

@include media-width($md, max) {
	.opencase {
		grid-template-columns: 1fr!important;
	}

	.section-title {
		flex-direction: column;
	}

	section .cases .opencase .quantity {
		justify-content: center;
	}

	button#opencase {
		justify-content: center;
		max-width: 420px;
		margin: 0 auto;
	}
	button#quick {
		justify-content: center;
		max-width: 420px;
		margin: 0 auto;
	}
	button#opencase {
		justify-content: center;
		max-width: 420px;
		margin: 0 auto;
	}

	section .content {
		grid-template-columns: repeat(3, 1fr);
		align-items: center;
		.item {
			margin: 0 auto;
		}
	}
}
@include media-width($sm, max) {

	.section-title.ttl2 {
		font-size: 26px;
	}

	section .content {
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
		.item {
			margin: 0 auto;
		}
	}

	section .cases button {
		padding: 0;
	}
}
@include media-width($xs, max) {

	section .content {
		grid-template-columns: repeat(1, 1fr);
		align-items: center;
		.item {
			margin: 0 auto;
		}
	}
}

// cases

@include media-width($xl, max) {
	section .section__inner .cases {
		grid-template-columns: repeat(4, 1fr);

		.case {
			margin: 0 auto;
		}
	}

	section .section__inner {
		text-align: center;
	}
}

@include media-width($lg, max) {
	section .section__inner .cases {
		grid-template-columns: repeat(3, 1fr);

		.case {
			margin: 0 auto;
		}
	}
}

@include media-width($md, max) {
	section .section__inner .cases {
		grid-template-columns: repeat(2, 1fr);

		.case {
			margin: 0 auto;
		}
	}
}

@include media-width($sm, max) {
	section .section__inner .cases {
		grid-template-columns: repeat(2, 1fr);
	}
}

@include media-width($xs, max) {
	section .section__inner .cases {
		grid-template-columns: repeat(1, 1fr);
	}
}

// footer


@include media-width($lg, max) {
	footer .footer__info {
		flex-wrap: wrap;
	}

}

@include media-width($md, max) {
	section .section__inner .cases {
		grid-template-columns: repeat(2, 1fr);

		.case {
			margin: 0 auto;
		}
	}

	footer .down-footer .down-footer__info {
		flex-direction: column;
		gap: 20px;
	}
}

@include media-width($sm, max) {
	footer .footer__info {
		flex-direction: column;

		.block {
			text-align: center;
		}
	}

	.section-title {
		text-align: center;
	}

	.accordion .accordion-item .accordion-header  {
		gap: 50px;
	}

	footer .down-footer .down-footer__info {
		flex-direction: column;
		gap: 20px;
	}
}

@include media-width($xs, max) {
	section .section__inner .cases {
		grid-template-columns: repeat(1, 1fr);
	}

	.accordion .accordion-item .accordion-header {
		gap: 30px;
	}
}

//circle

@include media-width($sm, max) {
.upgrate {
		&__block-desc {
			margin-top: 10px;
		}

		&__block-title {
			margin-bottom: 10px;
		}

		&__item-circle {

			&-scin {

				img {
					max-width: 36px;
				}

				span {
					font-size: 9px;
				}
			}
		}

		&__fourth {
			justify-content: center;
		}
	}
}

//upgrate

@include media-width($lg, max) {
	.upgrate {
		&__invent-items {
			grid-template-columns: repeat(3, 1fr);
			padding: 0 20px;
		}
	}
}

@include media-width($md, max) {
	.upgrate {
		&__title {
			flex-direction: column;
			width: 100%;
	
			&-separator {
				opacity: 1;
				max-width: 100%;
				padding: 0!important;
			}
	
			h1.title a,
			h1.title {
				font-size: 32px;
			}
		}

		&__invents {
			flex-direction: column;
			gap: 20px;
			margin-top: 20px;
		}

		&__invent {
			max-width: 100%;
			width: 100%;
			margin-right: 0!important;
		}

		&__menu {
			flex-direction: column;
			margin: 15px 0;
			align-items: center;
			gap: 20px;
		}

		&__group-buttons {
			padding: 20px;

			button {
				font-size: 18px;
			}
		}

		&__buttons {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 20px;
		}

		&__button {
			justify-content: center;
		}

		&__invent-items {
			//grid-template-columns: repeat(3, 1fr);
		}

		&__header {
			flex-direction: column;
			align-items: center;

			&:before, &:after {
				display: none;
			}
		}

		// &__item {
		// 	&:before {
		// 		background-image: url('@img/left_upg_b.svg');
		// 	}
		
		// 	&:after {
		// 		background-image: url('@img/right_upg_b.svg');
		// 	}
		
		// 	&:before,
		// 	&:after {
		// 		content: '';
		// 		display: block;
		// 		min-width: 139px;
		// 		min-height: 227px;
		// 	}
		// }

		&__item-center {
			justify-content: center;

			&:before,
			&:after {
				background-color: transparent;
			}

		}

		&__skin-center {
			//
		}
	}
	button.upgrate__button-upgrate {
		padding: 16px 50px;
		margin: 20px 0;
	}
}

@include media-width($sm, max) {
	.upgrate {
		&__invent-items {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}